h3{
    margin:0px 0px 5px 0px;
    font-weight: 500;
}

hr{
    height: 0px;
    margin: 5px 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #BCBCBC;
    text-align: left;
    direction: ltr;
    clear: both;
}

.address, .phone{
    display: inline-block;
    margin: 2px 0px;
}

.info{
    margin-left: 5px;
    vertical-align: top;
    float: right;
    width: 75%;
    height: 100%;
}

.shortInfo, .showMore{
    display: inline-block;
}

.showMore{
    position: absolute;
    bottom: 0px;
    right: 0px;
    float: right;
}

.photo{
    float: left;
    width: 170px;
    //max-width: 100%;
    height: 118px;
    padding: 4px;
    background-color:white;
    border-radius: 3px;
}

.photoContainer{
    float: left;
    width: 170px;
    //max-width: 100%;
    height: 118px;
    padding: 4px;
    border: 1px solid #a1a1a1;
    background-color:white;
    border-radius: 3px;
}

.profile{
    width: 70%;
    height: 125px;
    margin-left: 12%;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 30px;
}

#details {
    width: 75%;
    margin-left: 12%;
    margin-bottom: 30px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: auto;
}

.title {
    font-weight: lighter;
    color: white;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background: #333;
    margin: 0px;
}


.show_more_button {
    float: right;
    border-radius: 3px;
    border-style: solid;
    border-width: 0;
    cursor: pointer;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 10px 12px;
    font-size: 14px;
    background-color: limegreen;
    border-color: #007095;
    color: #FFFFFF;
    transition: background-color 200ms ease-out;
    //margin-right: 15px;
    margin-bottom: 15px;
}

.show_more_button:hover{
    background-color: #666666;
}

p{
    text-align: center;
}


.room_nums {
    width: 82px;
    height: 15px;
    margin-top: 7px;
}

.date {
    width: 80px;
    margin-top: 7px;
}

img.stars{
    width: 14px;
    height: 14px;
}