table, td, tr {
    text-align: center;
    border-collapse: collapse;
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 30px;
    margin-bottom: 30px;
}

td, tr {
    padding: 20px;
    font-size: 15px;
    font-family: Arial;
    //background-color: white;
}

th {
    padding: 20px;
    font-size: 15px;
    font-family: Arial;
}

td {
    background-color: white;
}

img.sights {
    width: 250px;
    border: 1px solid #ddd;
}